@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*Menu*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #ffffff;
  position: relative;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-links a {
  text-decoration: none;
  position: relative;
  color: #acacac;
  font-weight: 500;
}

.navbar-links a:after{
    content: "";
    position: absolute;
    background-color: #e02b2b;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-links a:hover{
    color: #e02b2b;
}

.navbar-links a:hover:after{
    width: 100%;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #000;
}

/* Menu responsivo */
@media (max-width: 768px) {
  .navbar-links,
  .navbar-action {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navbar-links.active {
    position: absolute;
    top: 70px;
    left: 0;
    transform: none;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px 0;
    display: flex;
    border-top: 1px solid #eee;
  }
}


/*Formulários*/

/*Botões e Links*/

.btn-active {
  background-color: #e02b2b;
  color: #fff;
  padding: 8px 18px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
}

.btn-active:hover{
    background-color: #ffffff;
    color: #e02b2b;
    transition: all 0.2s ease;
    transform: translateY(-2px);
    cursor: pointer;
}

/*Rodapé*/

.footer {
  margin-top: 60px;
  padding: 24px 16px;
  background-color: #f5f5f5;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.footer p {
  font-size: 14px;
  color: #555;
}

.footer strong {
  color: #c62828;
}

.footer-sub {
  margin-top: 8px;
  font-size: 13px;
  color: #777;
}


