*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*     main     */
/*  article  */
    
    .titulo{
        margin: 25px;
    }
    .box1,.boxmobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: rgba(251, 126, 126, 0.845);
        height: 15em;
        width: 13em;
        padding: 30px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.345);
        box-shadow: 0 1px 16px  rgba(0, 0, 0, 0.271);
        margin: 10px;
    }
    .box2,.boxmobile_p{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: rgba(172, 197, 243, 0.845);
        height: 15em;
        width: 13em;
        padding: 30px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.345);
        box-shadow: 0 1px 16px  rgba(0, 0, 0, 0.271);
        margin: 10px;
    }
    .boxmobile{
        display: none;
    }
    .boxmobile_p{
        display: none;
    }
    button{
        padding: 10px;
        background-color: rgb(151, 89, 89);
        border-radius: 100px ;
        border: 1px;
        color: rgb(255, 211, 211);
        cursor: pointer;
    }
    .button_p{
        padding: 10px;
        background-color: rgb(104, 117, 174);
        border-radius: 100px ;
        border: 1px;
        color: rgb(3, 7, 85);
        cursor: pointer;
    }
    .botao_paciente{
        cursor: pointer;
    }
    .botoes_paciente{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .setaE_paciente{
        width: 20px;
        height: 30px;
    }
    .setaD_paciente{
        width: 20px;
        height: 30px;
        transform: scaleX(-1);
    }
/* fimarcticle */

/* article */
.atendente_info{
    display: flex;
    align-items: center;
    justify-content:left;
    
    position: relative;
}
.nome_atendente{
    margin-top: -110px;
    margin-left: 20px;
}
.atendente_foto{
    margin-top: -90px;
    margin-left: 50px;
    border: 5px solid white;
    border-radius: 50%;
    width: 150px;
}

.status{
    background-color: #91FF98;
    padding: 1px 19px;
    border-radius: 50px;
    color: #078600;
    font-weight: bold;
    margin-top: -100px;
    margin-left: 10px;
}

.banner_atendente{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    
}

/*   Section    */
    .dados_atendente{
        display: flex;
        align-items: top;
        justify-content: left;
        gap: 50px;
        margin-top: 2%;
        margin-left: 4%;
    }

    .pessoais_atendente,.matricula_atendente{
        font-size:large;
        line-height: 200%;
        color: #383838;
    }

/*  fimsection  */
/* fimarticle */
/*  fim main   */

/*  mobilemain  */
@media (max-width: 768px) {
    .iconebutton{
        display: flex;
        justify-content: center;
    }
    .Dados_perfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .dados{
        margin-left: 0;
    }
    .box1{
        display: none;
    }
    .box2{
        display: none;
    }
    .boxmobile{
        display: flex;
    }
    .boxmobile_p{
        display: flex;
    }
    .layout{
        flex-direction: column;
    }
    .layout_foto{
        width: 8em;
        height: 8em;
        padding: 10px;
    }
    .dados_layout{
        width: 65em;
        height: 20em;
        flex-direction: row;
        gap: 100px;
    }
    .button_layout{
        width: 10em;
    }
}
/* fimmobile */