*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*     main     */

/* div dos quadros */
    .quadros{
        display: flex;
        flex-direction: space-between;
        gap: 50em;
    }

/*      fim       */

/* article banner */
.atendente_info{
    display: flex;
    align-items: center;
    justify-content:left;
    
    position: relative;
}
.nome_atendente{
    margin-top: -110px;
    margin-left: 20px;
}
.atendente_foto{
    margin-top: -90px;
    margin-left: 50px;
    border: 9px solid white;
    border-radius: 100%;
    width: 150px;
}

.status{
    background-color: #91FF98;
    padding: 1px 19px;
    border-radius: 50px;
    color: #078600;
    font-weight: bold;
    margin-top: -100px;
    margin-left: 10px;
}

.banner_atendente{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    
}
/* fimarticle */

/*   Section dados do atendente   */
    .dados_atendente{
        display: flex;
        align-items: top;
        justify-content: left;
        gap: 50px;
        margin-top: 2%;
        margin-left: 4%;
    }

    .pessoais_atendente,.matricula_atendente{
        font-size:large;
        line-height: 200%;
        color: #383838;
    }

/*  fimsection  */

/*   Section  historico de acesso  */
    .access_history{
        width: 320px;
        height: 380px;

        background: #FFF4F4;

        border: 2px solid #FFCDCD;
        border-radius: 12px;

        padding: 15px;
        overflow-y: auto;
    }
    .access_history::-webkit-scrollbar{
        width: 10px;
    }
    .access_history::-webkit-scrollbar-track{
        background: transparent;
    }
    .access_history::-webkit-scrollbar-thumb{
        background: #ffadad;
        border-radius: 10px;
    }
    .title_history{
        font-size: 12px;
        color: #FF3B3B;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 10px 15px;
        margin: 0 -15px 15px -15px;
        border-bottom: 2px solid #FFCDCD;
        
    }
    .historico_dados{
        font-size: 12px;
        display: flex;
        flex-direction: column;
    }
    .dados_historico {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:1px;
    }
    small{
        margin: 0px 50px;
    }
    .agenda{
        background: #FFEBBF;
        padding: 7px;
        border-radius: 2em;
    }
    .user{
        background: #B5BCFF;
        padding: 7px;
        border-radius: 2em;
    }
    .doador{
        background: #FF8888;
        padding: 7px;
        border-radius: 2em;
    }


/*  fimsection  */

/* section numeros de dados */
.num_dados{
    display: flex;
    justify-content: center;
    gap: 15em;
    margin: 10px 20px;
}
.caddoa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10em;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    background-color: #FFC2C2;
    gap: 10px;
    color: #7B2C2C;
}
/*       fim section       */
/*  fim main   */

/*  mobilemain  */
@media (max-width: 768px) {
    .iconebutton{
        display: flex;
        justify-content: center;
    }
    .Dados_perfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .dados{
        margin-left: 0;
    }
    .box1{
        display: none;
    }
    .box2{
        display: none;
    }
    .boxmobile{
        display: flex;
    }
    .boxmobile_p{
        display: flex;
    }
    .layout{
        flex-direction: column;
    }
    .layout_foto{
        width: 8em;
        height: 8em;
        padding: 10px;
    }
    .dados_layout{
        width: 65em;
        height: 20em;
        flex-direction: row;
        gap: 100px;
    }
    .button_layout{
        width: 10em;
    }
}
/* fimmobile */